nav a.active {
    color: rgb(29, 78, 216) !important;
    background-color: transparent;
}

@media(max-width:770px) {
    nav a.active {
        color: white !important;
        background-color: rgb(26 86 219);
    }
}